<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stories.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94558D8D2EAD122800B40CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94558D9A2EAD122A00B40CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94558DA42EAD122A00B40CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
